  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/lucas-westonsmith/StepSwap" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/lewagonportugal/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/lewagonfrance/?brand_redir=1544432682516659" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.linkedin.com/showcase/lewagonportugal/?originalSubdomain=pt" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This website has been coded by Artur, Rafael and Lucas at Le Wagon
    </div>
  </div>
</div>
