.booking-form{
  padding-bottom: 25px;
  padding-top: 25px;
  width: 500px;
}

.form-label.string.required{
  font-weight: bolder;
}

.form-label.text.optional{
  font-weight: bolder;
}

.form-label.select.required{
  font-weight: bolder;
}

.form-control.string.required.flatpickr-input{
  justify-items: center;
}
