.edit-user-title{
  text-align: center;
  padding-top: 25px;
}

.delete-button{
  width: 85px;
  border-radius: 5px;
  border-width: 1px;
}

.delete-button:hover{
  background-color: rgba(255, 0, 0, 0.545);
}
