.form-label.select.required{
  font-weight: bold;
}

.form-label.integer.required{
  font-weight: bold;
}

.form-label.decimal.required{
  font-weight: bold;
}

.form-label.text.optional{
  font-weight: bold;
}

.form-label.string.required{
  font-weight: bold;
}

.form-label.file.optional{
  font-weight: bold;
}

.form-control.string.required.flatpickr-input{
  justify-items: center;
}

.form-label.email.optional{
  font-weight: bold;
}

.form-label.password.optional{
  font-weight: bold;
}

.form-label.email.required{
  font-weight: bold;
}

.form-label.tel.required{
  font-weight: bold;
}

.form-label.password.required{
  font-weight: bold;
}
