.navbar-stepswap {
  justify-content: space-between;
  background: black;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 100px;
  }

  .nav-link {
    color: white !important; // Links are white
    font-weight: bold;       // Makes them stand out
    margin-right: 15px;      // Adds space between buttons
  }

  .nav-link:hover {
    color: #ddd !important; // Slight gray tint on hover
  }
}

