.sign-in{
  text-align: center;
  padding-top: 25px;
}

.sign-up-link{
  text-decoration: none;
}

.form-label.email.optional{
  font-weight: bold;
}

.form-label.password.optional{
  font-weight: bold;
}
